    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    <!-- Twitter Cards -->

    <!-- arahkun -->
    <!-- arahkun -->
    <!-- arahkun -->
    <!-- arahkun -->
<link rel="stylesheet" href="https://raw.githubusercontent.com/arahkun/arahkun.github.io/master/_sass/vendor/font-awesome/_core.scss">
<link rel="stylesheet" href="https://raw.githubusercontent.com/arahkun/arahkun.github.io/master/_sass/vendor/font-awesome/_icons.scss">
<link rel="stylesheet" href="https://raw.githubusercontent.com/arahkun/arahkun.github.io/master/_sass/vendor/font-awesome.scss">
<link rel="stylesheet" href="https://raw.githubusercontent.com/arahkun/arahkun.github.io/master/_sass/vendor/font-awesome/_core.scss">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700" rel="stylesheet">
    <!-- arahkun -->
    <!-- arahkun -->
    <!-- arahkun -->
    <!-- arahkun -->
    <!-- arahkun -->
