---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->

		
<head>
    {% include head.html %}
		<style media="screen" type="text/css">        
c00de { color: #ffffff;
	line-height: 70%; 
	font-family: monospace;
	font-weight: 6px;
	background-color: #172329;
}
</style>
			
</head>
<body>
    {% include nav.html %}
	
    <!-- Header -->
	    {% include scripts.html %}

    <header class="header flex" role="banner">
        <div class="container animated fadeIn">

            <div class="row">
 <br><br>   <br><br>  <br><br>   <br><br> 	 <br><br>   <br><br>  	<c00de>
               ┌─────────────────────────────────────────────────────────┐        
           ■───┘    A R A H K U N     ┌───┘      I N F O S E C           └───■    
           └─────────────────────────────────────────────────────────────────┘    
 █████╗ ██████╗  █████╗ ██╗  ██╗██╗  ██╗██╗   ██╗███╗   ██╗
██╔══██╗██╔══██╗██╔══██╗██║  ██║██║ ██╔╝██║   ██║████╗  ██║
███████║██████╔╝███████║███████║█████╔╝ ██║   ██║██╔██╗ ██║
██╔══██║██╔══██╗██╔══██║██╔══██║██╔═██╗ ██║   ██║██║╚██╗██║
██║  ██║██║  ██║██║  ██║██║  ██║██║  ██╗╚██████╔╝██║ ╚████║
</c00de><br>
		   
<h3 class="t13">At Arahkun we focus on sharing experience and promoting individual awareness and knowledge. 
Our social-engineering education model, methods and material is built on three years of in-house research and development.
We are here to help you understand the threats and dangers of the digital world, in a safe environment with real-world assessments and testing. We will be by your side as seasoned travelers in this information age.
<br>In the modern model of information security, knowledge is power.
<br><br>
Education gives you that knowledge.
<br><br>
Arahkun is here to help you seize it.
</h3>			    
<br><hr class="hr-line">                 
 <h3 class="t42"><center><b>follow us via twitter:<br>
<a class="btn zoombtn" href="https://twitter.com/arahkun"><img class="img-42" src="https://arahkun.github.io/assets/96/twitter.png" alt="Projects" height="42" width="42"></a>	 
	 </b></center></h3> 
		    
<br><hr class="hr-line">                 
<br><br>
<hr class="hr-line">
                  <h3 class="dt">
<a class="btn zoombtn" href="{{ site.url }}/about"><img class="img-42" src="https://arahkun.github.io/assets/img/13/desktop.png" alt="Projects" height="42" width="42"><br>about</a>

<a class="btn zoombtn" href="{{ site.url }}/projects"><img class="img-42" src="https://arahkun.github.io/assets/img/13/tasks.png" alt="Projects" height="42" width="42"><br>projects</a>

                         <a class="btn zoombtn" href="{{ site.url }}/news"><img class="img-42" src="https://arahkun.github.io/assets/img/13/clock.png" alt="News" height="42" width="42"><br>news</a>

                 </h3><br><br>
		    
		     <h3 class="dt">
                    </h3> 
		    
            </div>
        </div>
    </header>
</body>
</html>
